<ion-header>
    <link rel="stylesheet" type="text/scss" href="/tumblr.scss">
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Tumblr
        </ion-title>
    </ion-navbar>
</ion-header>
 
<ion-content padding-top>
    <ion-refresher (ionRefresh)="refreshBlog($event)">
        <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>
    <ion-list text-wrap>
        <ion-item *ngFor="let item of items">
            <img *ngIf="objectService.isObject(item.photos)" src="{{item.photos[0].original_size.url}}" imageViewer/>
            <p *ngIf="!objectService.isObject(item.photos)" class="app-font-16">
                &quot;{{item.text}}&quot;
            </p>
            <p *ngIf="!objectService.isObject(item.photos)">
                <br>—&nbsp;{{item.source}}&nbsp;
                <ion-icon name="mail">&nbsp;{{item.note_count}}</ion-icon>
            </p>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="morePosts($event)">
        <ion-infinite-scroll-content loadingText="Loading more Posts..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
