<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-top>
    <form (submit)="saveDefaults()">
        <ion-list>
            <ion-item-divider>Set Your Daily Reminder</ion-item-divider>
            <ion-item>
                <ion-label stacked>Quote</ion-label>
                <ion-input [(ngModel)]="userQuote" name="userQuote"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Name</ion-label>
                <ion-input [(ngModel)]="userName" name="userName"></ion-input>
            </ion-item>
            <ion-item-divider>Set Default Categories</ion-item-divider>
            <ion-item>
            <ion-label stacked>Tumblr</ion-label>
                <ion-select [(ngModel)]="tumblrCategory" name="tumblrCategory">
                    <ion-option *ngFor="let option of tumblrOptions" value="{{option.category}}">{{option.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
            <ion-label stacked>Twitter</ion-label>
                <ion-select [(ngModel)]="tweetCategory" name="tweetCategory">
                    <ion-option *ngFor="let option of tweetOptions" value="{{option.category}}">{{option.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label stacked>Reddit</ion-label>
                <ion-select [(ngModel)]="redditCategory" name="redditCategory">
                    <ion-option *ngFor="let option of redditOptions" value="{{option.category}}">{{option.name}}</ion-option>
                </ion-select>
            </ion-item>
            <button ion-button type="submit" block>Save</button>
        </ion-list>
    </form>
</ion-content>
