<ion-header no-border>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button (click)="toggleMode()">
        <ion-icon style="font-size: 40px" [name]="mode.icon"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Reddit
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshReddits($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <ion-list [hidden]="mode.type == 'gallery'" class="selectable" *ngIf="objectService.isObject(items)" text-wrap>
    <ion-item *ngFor="let item of items" (click)="expandItem(item)">
      <ion-row>
        <ion-col col-11>
          <p class="app-font-16">
            {{item.data.title}}
          </p>
        </ion-col>
        <ion-col col-1>
          <ion-icon *ngIf="item.data.selftext != ''" name="ios-arrow-down"></ion-icon>
        </ion-col>
      </ion-row>
      <ng-template [ngIf]="objectService.isObject(item.data.preview) && item.data.thumbnail!='self'">
        <img *ngIf="!objectService.isObject(item.data.preview.images[0].variants.gif)"
             src="{{item.data.preview.images[0].source.url}}" imageViewer/>
        <img-loader *ngIf="objectService.isObject(item.data.preview.images[0].variants.gif)"
                    src="{{item.data.preview.images[0].variants.gif.source.url}}" useImg></img-loader>
      </ng-template>
      <expandable class="app-font-16" [expanded]="item.expanded">{{item.data.selftext}}</expandable>
      <ion-row class="app-font-14">
        <ion-col col-4>
          <ion-icon name="md-thumbs-up">
            {{item.data.score}}
          </ion-icon>
        </ion-col>
        <ion-col col-7>
          <ion-icon name="text">
            {{item.data.num_comments}}
          </ion-icon>
        </ion-col>
        <ion-col col-1>
          <ion-icon name="md-open"
                    (click)="iab.create('http://reddit.com'+item.data.permalink, '_self', 'zoom=no')"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-slides (ionSlideNextStart)="addSlides()" [hidden]="mode.type == 'list'" centeredSlides="true">
    <ng-template ngFor let-item [ngForOf]="items">
      <ng-template [ngIf]="objectService.isObject(item.data.preview) && item.data.thumbnail!='self'">
        <ion-slide>
          <img *ngIf="!objectService.isObject(item.data.preview.images[0].variants.gif)"
               src="{{item.data.preview.images[0].source.url}}" imageViewer/>
          <img-loader *ngIf="objectService.isObject(item.data.preview.images[0].variants.gif)"
                      src="{{item.data.preview.images[0].variants.gif.source.url}}" useImg></img-loader>
        </ion-slide>
      </ng-template>
    </ng-template>
    <ion-slide>
      <img src="assets/img/no-image.png"/>
    </ion-slide>
  </ion-slides>

  <ion-list [hidden]="objectService.isObject(items)" text-wrap>
    <ion-item text-center>
      <div class="app-font-16">
        No items to show :(
        <br><br>
        Data is required to run this app, or Reddit servers are down
        <br><br>
        Pull to refresh
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll [hidden]="mode.type == 'gallery'" (ionInfinite)="scroll($event)">
    <ion-infinite-scroll-content loadingText="Loading Reddits..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
