<ion-menu id="tumblrMenu" [content]="nav">
    <ion-list>
        <ion-list-header>Tumblr — {{tumblrCategory}}</ion-list-header>
        <ion-item>
            <ion-label stacked>Category</ion-label>
            <ion-select menuClose (ionChange)="changeCategory('tumblrMenu:clicked', tumblrCategory)" [(ngModel)]="tumblrCategory" name="tumblrCategory">
                <ion-option *ngFor="let option of tumblrOptions" value="{{option.category}}">{{option.name}}</ion-option>
            </ion-select>
        </ion-item>
        <button ion-item menuClose (click)="viewSettings()">
            <ion-icon name="construct"></ion-icon>
            &nbsp;Settings
        </button>
        <button ion-item menuClose (click)="viewAbout()" >
            <ion-icon name="information-circle"></ion-icon>
            &nbsp;About
        </button>
    </ion-list>
</ion-menu>

<ion-menu id="tweetMenu" [content]="nav">
    <ion-list>
        <ion-list-header>Twitter — @{{tweetCategory}}</ion-list-header>
        <ion-item>
            <ion-label stacked>Category</ion-label>
            <ion-select menuClose (ionChange)="changeCategory('tweetMenu:clicked', tweetCategory)" [(ngModel)]="tweetCategory" name="tweetCategory">
                <ion-option *ngFor="let option of tweetOptions" value="{{option.category}}">{{option.name}}</ion-option>
            </ion-select>
        </ion-item>
        <button ion-item menuClose (click)="viewSettings()">
            <ion-icon name="construct"></ion-icon>
            &nbsp;Settings
        </button>
        <button ion-item menuClose (click)="viewAbout()" >
            <ion-icon name="information-circle"></ion-icon>
            &nbsp;About
        </button>
    </ion-list>
</ion-menu>

<ion-menu id="redditMenu" [content]="nav">
    <ion-list>
        <ion-list-header>Reddit — /r/{{redditCategory}}</ion-list-header>
        <ion-item>
            <ion-label stacked>Category</ion-label>
            <ion-select menuClose (ionChange)="changeCategory('redditMenu:clicked', redditCategory)" [(ngModel)]="redditCategory" name="redditCategory">
                <ion-option *ngFor="let option of redditOptions" value="{{option.category}}">{{option.name}}</ion-option>
            </ion-select>
        </ion-item>
        <button ion-item menuClose (click)="viewSettings()">
            <ion-icon name="construct"></ion-icon>
            &nbsp;Settings
        </button>
        <button ion-item menuClose (click)="viewAbout()" >
            <ion-icon name="information-circle"></ion-icon>
            &nbsp;About
        </button>
    </ion-list>
</ion-menu>

<ion-nav #nav [root]="rootPage"></ion-nav>
