twitter {    
    .app-font-16 {
        white-space: inherit;
        font-size: 16px;
    }
    
    img {
        height: auto;
        width: auto;
        margin: auto;
        display: block;
    }
}
