<ion-header>
    <link rel="stylesheet" type="text/scss" href="/reddits.scss">
    <ion-navbar color="primary">
        <ion-title>
            /r/{{category}}
        </ion-title>
    </ion-navbar>
</ion-header>
 
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label fixed>Category</ion-label>
            <ion-select (ionChange)="getDefaults()" [(ngModel)]="category" name="category">
                <ion-option value="LifeProTips">Life Pro Tips</ion-option>
                <ion-option value="GetMotivated">Get Motivated</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list text-wrap>
        <button ion-item *ngFor="let item of items" (click)="viewItem(item.data)">
            <ion-thumbnail *ngIf="item.data.thumbnail!='self'" item-left>
                <img *ngIf="!objectService.isObject(item.data.preview.images[0].variants.gif)" class="rounded-img" src="{{item.data.thumbnail}}" imageViewer="{{item.data.preview.images[0].source.url}}"/>
                <img *ngIf="objectService.isObject(item.data.preview.images[0].variants.gif)" class="rounded-img" src="{{item.data.thumbnail}}" imageViewer="{{item.data.preview.images[0].variants.gif.source.url}}"/>
            </ion-thumbnail>
            <p class="app-font-15">
                {{item.data.title}}
            </p>
            <br> 
            <p>
                <ion-icon name="thumbs-up">
                    {{item.data.score}}
                </ion-icon>
                &nbsp;&nbsp;
                <ion-icon name="chatboxes">
                    {{item.data.num_comments}}
                </ion-icon>
            </p>
        </button>
    </ion-list>
    <ion-infinite-scroll *ngIf="limit==objectService.objectLength(items)" (ionInfinite)="moreReddits($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
