<ion-header>
    <ion-navbar color="secondary">
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="selectable">
        <img *ngIf="item.thumbnail!='self' && !objectService.isObject(item.preview.images[0].variants.gif)" src="{{item.preview.images[0].source.url}}" imageViewer/>
        <img *ngIf="item.thumbnail!='self' && objectService.isObject(item.preview.images[0].variants.gif)" src="{{item.preview.images[0].variants.gif.source.url}}" imageViewer/>
        <ion-card-content>
            <ion-card-title>
                {{item.title}}
            </ion-card-title>
            <ion-card-content>
                {{item.selftext}}&nbsp;—&nbsp;{{item.author}}
            </ion-card-content>
            <button ion-button block (click)="iab.create('http://reddit.com'+item.permalink)">Website</button>
        </ion-card-content>
    </ion-card>
</ion-content>
